{#! Vue User Account  #}
{% extends 'base.html.twig' %}
    {# {% extends ... %} : Instruction Twig pour indiquer que ce template étend un autre template. 
    Ici, il hérite du fichier 'base.html.twig', qui est le template principal. Cela signifie que ce template va réutiliser la structure définie dans 'base.html.twig'. #}

{% block body %}
    {# {% block body %} : Déclare un bloc de contenu appelé 'body'. 
    Ce bloc est défini dans le template parent (base.html.twig) et permet d'insérer du contenu personnalisé. #}
<section class="member-section">
    <div class="member-container">
        {# <div> : Élément HTML qui sert de conteneur pour organiser du contenu. 
            Ici, il enveloppe tout le contenu spécifique à cette page. #}
        {# class="container my-5" : Attributs HTML définissant des classes CSS.
            - 'container' : Classe Bootstrap qui crée un conteneur avec des marges automatiques pour centrer le contenu et limiter la largeur.
            - 'my-5' : Classe Bootstrap qui ajoute des marges verticales (margin y-axis) de 5 unités. #}
        <h1>Espace membre</h1>
            {# <h1> : Balise HTML de titre de niveau 1, utilisée pour indiquer le titre principal de la page.
            Ici, elle affiche "Espace membre privé !", signifiant que cette section est réservée aux membres connectés. #}

        {#? https://getbootstrap.com/docs/5.3/layout/columns/#how-they-work #}
        <div class="row">
            <div class="col-md-3">
                {% include 'account/menu.html.twig' %}
            </div>
            <div class="col-md-9">  
                <h5>Mes dernieres commandes</h5>
                    {% if orders|length == 0 %}
                        <div class="alert-info">
                            Vous n'avez passez aucune commande pour le moment.
                        </div>
                    {% else %}
                    <table class="table custom-table">
                        <thead>
                            <tr>
                                <th scope="col">N*</th>
                                <th scope="col">Date</th>
                                <th scope="col">Etat</th>
                                <th scope="col">Total T.T.C</th>
                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.createdAt|date('d/m/Y') }}</td>
                                    <td>{{ include('admin/state.html.twig', { field : { 'value' : order.state } } ) }}</td>
                                    <td>{{ order.totalWt|price }}</td>
                                    <td><a href="{{ path('app_account_order', { 'id_order' : order.id } ) }}">Voir</a></td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    {% endif %}

            </div>   
        </div>

    </div>
</section>
{% endblock %}
    {# {% endblock %} : Fin du bloc 'body'. Tout le contenu entre {% block body %} et {% endblock %} sera inséré dans le bloc correspondant du template parent 'base.html.twig'. #}
