{% extends 'base.html.twig' %}
    {% block body %}
<section class="categorie-section">
    <div class="container category-container">
        <h1 class="category-title">{{ category.name }}</h1>
        {# <p class="category-subtitle">Cette catégorie contient {{ category.products|length }} produit(s).</p> #}
        <div class="row">
            {% for product in category.products %}
                <div class="col-md-4">
                    <div class="product-card">
                        <a href="{{ path('app_product', { slug : product.slug }) }}" class="text-decoration-none">
                            <img src="{{ asset('uploads/' ~ product.illustration) }}" alt="{{ product.name }}" class="product-img">
                            <div class="product-info">
                                <h3 class="product-name">{{ product.name }}</h3>
                                <span class="product-price">{{ product.priceWt|price }}</span>
                                <a class="btn btn-global" href="{{ path('app_product', { slug : product.slug } ) }}">Voir</a>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
    {# {% endblock %} : Fin du bloc 'body'. Tout le contenu entre {% block body %} et {% endblock %} sera inséré dans le bloc correspondant du template parent 'base.html.twig'. #}
