{# ? https://symfony.com/doc/current/security.html#form-login
! Vue qui gere la connexion
    ! symfony console:make controller
        ! Name of the form class : LoginController
            ! Nom de l'entity lié : User #}
{% extends 'base.html.twig' %}

{#? https://symfony.com/doc/current/security.html#form-login #}
{% block body %}
<section class="section-login">
<div class="container container-login">
<h1>Connexion</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
            <label for="username">Votre Email:</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required>

            <label for="password" class="mt-3">Votre Mot de Passe:</label>
            <input class="form-control" type="password" id="password" name="_password" required>

            {# If you want to control the URL the user is redirected to on success #}
            <input type="hidden" name="_target_path" value="{{ path('app_account') }}"> 

            <button type="submit" class="btn btn-success mt-3">Me Connecter</button>
        </form>

        <br/>
        Vous n'avez pas de compte ?<a href="{{ path('app_inscription') }}"> Inscrivez-vous</a>
        <br>
        <a href="{{ path('app_password') }}">Mot de passe oublié ?</a>
    </div>
</section>

{% endblock %}
