{% extends 'base.html.twig' %}
    {# {% extends ... %} : Instruction Twig pour indiquer que ce template étend un autre template. 
    Ici, il hérite du fichier 'base.html.twig', qui est le template principal. Cela signifie que ce template va réutiliser la structure définie dans 'base.html.twig'. #}

{% block body %}
    {# {% block body %} : Déclare un bloc de contenu appelé 'body'. 
    Ce bloc est défini dans le template parent (base.html.twig) et permet d'insérer du contenu personnalisé. #}
<section class="product-section">
    <div class="container product-container">
        <div class="row align-items-center">
            <!-- Image du produit -->
            <div class="col-md-6">
                <img src="{{ asset('uploads/' ~ product.illustration) }}" class="product-img img-fluid" alt="{{ product.name }}">
            </div>

            <!-- Détails du produit -->
            <div class="col-md-6 product-details">
                <small class="breadcrumb">
                    <i>
                        <a href="{{ path('app_category', { slug : product.category.slug} ) }}">{{ product.category.name }}</a>
                        > {{ product.name }}
                    </i>
                </small>
                <h1 class="product-title">{{ product.name }}</h1>
                <span class="product-price">{{ product.priceWt|price }}</span>
                <p class="product-description">{{ product.description|raw }}</p>

                <a href="{{ path('app_cart_add', { id : product.id }) }}" class="btn-vintage mt-3">
                    Ajouter au panier
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
    {# {% endblock %} : Fin du bloc 'body'. Tout le contenu entre {% block body %} et {% endblock %} sera inséré dans le bloc correspondant du template parent 'base.html.twig'. #}
