{# ! Vue qui gere l'inscription
    ! symfony console:make controller
        ! Name of the form class : RegisterController #}
        {% extends 'base.html.twig' %}

        {% block body %}
            <section class="registration-section">
                <div class="container container-registration">
                    <h1>Inscription</h1>
        
                    {{ form_start(registerForm) }}
                        <div class="form-group">
                            {{ form_row(registerForm.email, {'attr': {'class': 'form-control registration-input'}}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_row(registerForm.plainPassword.first, {'attr': {'class': 'form-control registration-input'}}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_row(registerForm.plainPassword.second, {'attr': {'class': 'form-control registration-input'}}) }}
                        </div>
        
                        <div class="form-group">
                            {{ form_row(registerForm.firstname, {'attr': {'class': 'form-control registration-input'}}) }}
                        </div>
        
                        <div class="form-group">
                            {{ form_row(registerForm.lastname, {'attr': {'class': 'form-control registration-input'}}) }}
                        </div>
        
                        <div class="form-group">
                            {{ form_row(registerForm.submit, {'attr': {'class': 'btn btn-success registration-btn'}}) }}
                        </div>
                    {{ form_end(registerForm) }}
        
                    <br/>
                    <p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}" class="login-link">Connectez-vous</a></p>
                </div>
            </section>
        {% endblock %}
        