{% extends 'base.html.twig' %}

{% block body %}
    <section class="order-section">
        <div class="container container-order">
            <h1>Ma commande</h1>

            {{ form_start(deliverForm) }}
                {{ form_row(deliverForm.addresses) }}
                <a href="{{ path('app_account_address_form') }}" class="small">Ajoutez une nouvelle adresse de livraison</a>
                <hr>
                {{ form_row(deliverForm.carriers) }}
                <button type="submit" class="btn btn-success">Valider ma commande</button>
            {{ form_end(deliverForm) }}
            
        </div>
    </section>
{% endblock %}
